.pricing-plans {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0 20px 0;
}

.plans {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cheap.plan,
.best-offer.plan,
.premium.plan {
	border: 2px solid black;
	border-radius: 5px;
	align-items: center;
	display: flex;
	width: 275px;
	height: 515px;
	.plan-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		gap: 10px;
		.plan-img {
			width: 170px;
			height: 130px;
			margin-top: 7px;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.text,
		.description {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.text {
			gap: 10px;
		}

		.description {
			align-items: start;
			text-align: start;
			justify-content: center;
			max-width: 190px;

			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 7px;
				.img-has {
					width: 18px;
				}
				li {
					display: flex;
					align-items: center;
					gap: 5px;
				}
			}
		}
	}
}
