.about-frontal {
	max-width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('/public/Imgs/about-img.jpg');
	background-position: 50% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	h2 {
		font-family: 'Red Hat Text', sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-size: 40px;
		font-style: normal;
		color: white;
		z-index: 2;
		letter-spacing: 3px;
		span {
			text-transform: uppercase;
			font-size: large;
			color: #bb2322;
			font-family: 'Sonsie One', system-ui;
			font-weight: 400;
			font-style: normal;
			font-size: 38px;
			letter-spacing: -2px;
		}
	}
}
.about-frontal:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
}

.about .description {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width: 100%;
	height: auto;
	padding: 40px 55px 40px 55px;
	text-align: center;

	h3 {
		font-family: 'Red Hat Text', sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-size: 30px;
		font-style: normal;
	}

	h6 {
		font-family: 'Markazi Text', serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-size: 25px;
		font-style: normal;
		color: #626262;
	}

	p {
		font-family: 'Markazi Text', serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-size: 25px;
		font-style: normal;
		color: #626262;
	}
}

.more-about {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 40px;
	.card-container {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-around;
		padding: 0 20px 0 20px;
		.card {
			width: 500px;
			height: auto;
			display: flex;
			flex-direction: column;
			.card-description {
				background-color: white;
				padding: 20px;
				h5 {
					font-family: 'Cinzel', serif;
					font-optical-sizing: auto;
					font-weight: 800;
					font-size: 20px;
					font-style: normal;
					text-align: center;
					margin-bottom: 10px;
				}
				p {
					font-family: 'Markazi Text', serif;
					font-optical-sizing: auto;
					font-weight: 400;
					font-size: 20px;
					text-align: center;
				}
			}
		}
	}
}

.request-appointment {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	h2 {
		font-family: 'Red Hat Text', sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-size: 30px;
		font-style: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #626262;
	}
	.book-appointment-button {
		width: 130px;
		height: 40px;
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		p {
			color: white;
			font-family: 'Markazi Text', serif;
			font-optical-sizing: auto;
			font-weight: 800;
			font-size: 20px;
			text-align: center;
			transition: color 0.3s ease;
		}
	}

	.book-appointment-button:hover {
		cursor: pointer;
		p {
			color: gold;
		}
	}
}
